Makefile
Makefile.in
aclocal.m4
autom4te.cache
config
config.h
config.log
config.status
configure
depcomp
install-sh
libtool
missing
stamp-h1

src/stest
src/gen-test
*/.deps
*/.libs

*.swp
*.o
*.la
*.lo
